[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode
[submodule "tuareg"]
	path = tuareg
	url = https://github.com/ocaml/tuareg
[submodule "glsl-mode"]
	path = glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
