[submodule "web-mode"]
	path = web-mode
	url = https://github.com/fxbois/web-mode
[submodule "tuareg"]
	path = tuareg
	url = https://github.com/ocaml/tuareg
[submodule "glsl-mode"]
	path = glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "lua-mode"]
	path = lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "Fill-Column-Indicator"]
	path = Fill-Column-Indicator
	url = https://github.com/alpaker/Fill-Column-Indicator
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "buffer-move"]
	path = buffer-move
	url = https://github.com/lukhas/buffer-move
